---
const pageTitle = "Compra 21 autobuses usados en el año 2012";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <!-- <a href="/about/">About</a> -->
    <a href="./autobuses">--Autobuses</a>
    <h1>{pageTitle}</h1>

    <h1>Recopilación noticias</h1>
    <div>
      <table border="1">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Título</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                  <a
                    href=""
                    target="_blank"></a
                  ></td
                >
              </tr>
            <tr>
                <td>28/07/2012</td>
                <td>
                  <a
                    href="https://www.diariodejerez.es/jerez/Ayuntamiento-confirma-compra-autobuses-euros_0_610439013.html"
                    target="_blank">El Ayuntamiento confirma la compra de 21 autobuses por menos de 200.000 euros</a
                  ></td
                >
              </tr>
          <tr>
            <td>07/06/2012</td>
            <td>
              <a
                href="https://www.diariodejerez.es/jerez/Ayuntamiento-negocia-compra-autobuses-urbanos_0_595140822.html"
                target="_blank">El Ayuntamiento negocia la compra de 21 autobuses urbanos</a
              ></td
            >
          </tr>
         
           
        </tbody>
      </table>
    </div>
  </body>
</html>

<style>
    body {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(14, 12, 12);
    font-size: 20px;
    line-height: 1.6;
        }
  </style>
  
