---
const pageTitle = "13410 Movilidad urbana";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <!-- <a href="/about/">About</a> -->
    <a href="/en-que-se-gasta/programas/programas">--Programas</a>

    <h1>{pageTitle}</h1>

  <div>
    <a href="/en-que-se-gasta/programas/13410-Movilidad-urbana/autobuses/autobuses">Autobuses</a> 
    <a href="/en-que-se-gasta/programas/13410-Movilidad-urbana/taxis">Taxis</a>
  </div>

  </body>
</html>     

<style>
  body {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: rgb(14, 12, 12);
  font-size: 20px;
  line-height: 1.6;
      }
</style>
